body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1512px;
  max-height: 900px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.6),
      rgba(39, 32, 68, 0.6)
    ),
    url("/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  line-height: 1.5;
  padding: 280px;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  margin: 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 16px 32px;
  background-color: white;
  color: #272044;
  display: inline-block;
  margin-top: 32px;
}

@media (max-width: 1200px) {
  header {
    padding: 60px 0px;
  }

  header h1 {
    font-size: 42px;
  }

  header h2 {
    font-size: 28px;
  }

  header h3 {
    font-size: 16px;
  }

  header a {
    font-size: 12px;
    padding: 12px 28px;
  }
}
